.transaction-table th,.transaction-table td {
  text-align: center;
  padding: 10px;
}
.transaction-table thead {
  background-color: rgba(226, 224, 224, 0.573);
}
.transaction-table table{
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}
.transactionHistory{
  padding: 30px;
  width: 100%;
}
.history-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.history-header p{
  color: rgb(128, 128, 128);
}
.history-balance{
  background-color: #4a89ff;
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin: 20px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.history-balance-current{
  background-color: #8fb8f9;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.648);
}

.dropdown {
  position: relative;
  min-width: 150px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  background-color: white;
}

.dropdown-header {
  display: flex;
  align-items: center;
}

.dropdown-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.dropdown-selected {
  flex-grow: 1;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  z-index: 1000;
}

.dropdown-option {
  padding: 8px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}

