.myBanks{
  padding: 30px;
}
.myBanks>p{
  color: gray;
  font-size: 1.1rem;
  margin: 10px 0 30px 0;
}
.myBanks h3{
  margin-bottom: 20px;
}
.myBanks>div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.cart{
  background: linear-gradient(135deg, #6b5b95, #feb236);
  border-radius: 10px;
  padding: 10px;
  aspect-ratio: 5/3;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 0.8rem;
}
.cart h3{
  margin-bottom: 35px;
}
.cart-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.cart-name{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.cart-right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 20%;
  
}
.cart-right :first-child{
  width: 20px;
  margin-left: 7px;
}
