* {
  box-sizing: border-box;
  margin: 0;
}

.labels {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.logo {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin: 10px 0;
}
.logo span {
  font-size: 2rem;
  font-weight: bold;
}

.sign-up label {
  color: rgb(113, 113, 113);
  font-size: 0.8rem;
  font-weight: 700;
}
.sign-up input {
  padding: 9px;
  border-radius: 5px;
  border: 2px solid rgb(155, 177, 173);
  margin-bottom: 10px;
  font-weight: 700;
}
.signup-p {
  color: gray;
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: -15px;
}
.big-input {
  width: 100%;
}

.sign-up {
  display: flex;
  background-color: rgba(127, 255, 212, 0.098);
  background-image: url(../images/890e10620a2cca08b637.jpg);
  background-position: right center;
  background-size: 50%;
  background-repeat: no-repeat;
}
.sign-up-form {
  padding: 0 30px;
  background-color: white;
  height: 100vh;
}

.sign-up-button {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(34, 125, 245);
  color: white;
}
.sign-up-button:hover {
  background-color: rgb(97, 166, 255);
  cursor: pointer;
}
.sign-up-footer {
  text-align: center;
}
.sign-up-footer a {
  text-decoration: none;
  color: rgb(1, 73, 197);
}
.dashboard-image {
  position: absolute;
  width: auto;
  height: 70%;
  z-index: 1;
  right: -100px;
  top: 60px;
}

.home {
  display: flex;
}
.pwd-progrssbar{
  margin: -5px 0 15px 0;
}
